/* Created by: Katie
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-01-HTML-AreaTrapezoid
*/

body {
  background-color: yellowgreen;
}

h1 {
  background-color: darkblue;
  color: lightpink;
}